  <div class="new">
    <div class="col-md-12">
    <%= link_to("New Movie", new_movie_path, class:"btn btn-default pull-right")%>
    </div>
  </div>
  <div class="poster">
  <% @movies.each do |movie|%>
  <div class="col-xs-6 col-md-3">
  <%= link_to movie_path(movie) do %>
  <% if movie.image.present? %>
  <%= image_tag(movie.image.thumb.url)%>
  <% else %>
  <%= image_tag("http://placehold.it/300x400&text=No Pic")%>
  <% end %>
  <% end %>
  </div>
  <% end %>
  </div>
